{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/main_style.css' %}" >

    <title>Главная страница</title>
</head>
<body>
    <div id="navbar">
        <div id="buttons">
            <button class="nav-button steam" onclick="window.location.href='{% url 'steam' %}'">Steam</button>
            <button class="nav-button youtube" onclick="loadContent('youtube')">YouTube</button>
            <button class="nav-button chatick" onclick="loadContent('chatick')">Chatick</button>
        </div>
        <button id="extra-button"></button>
    </div>
    <div id="content">
        <p style="text-align: center; padding: 20px;">Choose a section by clicking the buttons above.</p>
    </div>


</body>
</html>
